* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(38, 20, 72, 0.9) 59%;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.hero nav {
  background: black;
  width: 100%;
  height: 7vh;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
}

.container {
  margin: 0;
  text-align: center;
  padding: 15px 100px;
  width: 100%;
  height: 93vh;
  overflow-y: auto;
}

.addShipmentButton {
  width: 220px;
  height: 45px;
}

.sideNav {
  background-color: #fca311;
  width: 250px;
  height: 93vh;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.flexRow {
  display: flex;
  flex-direction: row;
  min-height: 93vh;
}

.container ul {
  list-style-type: none;
}

.container li {
  display: flex;
  border: solid 1px #ccc;
  border-radius: 4px;
  margin: 10px auto;
  /* height: 55px; */
  padding: 10px;
  font-size: 17px;
  align-items: center;
  justify-content: space-between;
}

.logoMulticco {
  width: 19vh;
}

.item {
  height: 45px;
  width: 145px;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid black;
}
[class~="item"]:last-of-type {
  border-left: 1px solid black;
}

.formInput {
  width: 220px;
}
